* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-size: 62.5%;
  font-family: 'Solway', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Stoke', serif;
  font-family: 'Bree Serif', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Solway', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Stoke', serif;
  font-family: 'Bree Serif', serif;
}
/* UPDATED H1 FOR SPACE WALKERS*/
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 2.1rem;
  line-height: 1.4;
}
/*Change max-width*/
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
/* font-family: 'Bree Serif', serif;
font-family: 'Patua One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Solway', serif;
*/
/** Group2 **/
/** Group 3 **/
/** Group 4 **/
.centerPage {
  margin-left: 2%;
  margin-right: 2%;
}
.border {
  border: 1px solid red;
}
.topImgSpecs1 {
  width: 70%;
}
.topImgSpec3 {
  width: 100%;
}
.topTxtSpecs {
  background-color: #62CCC0;
  color: #212A31;
  padding: 15px 0;
  text-align: center;
  margin-top: -2px;
  border-radius: 4px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem;
}
.topTxtAnim {
  -webkit-animation: swing 1s ease;
  animation: wiggle 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #DAA486;
  color: #008291;
}
.bttmNavPad {
  padding-left: 7%;
  padding-right: 7%;
  height: 65px;
}
.bttmNavPadPhone {
  padding-left: 4%;
  padding-right: 4%;
}
.phoneBttmNav {
  font-size: 1rem;
}
header {
  margin-left: 2%;
  margin-right: 2%;
}
.headerTxt {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 95px;
  padding-bottom: 3%;
  background-color: #DAA486;
  margin-top: -2%;
}
@media (max-width: 500px) {
  .headerTxt {
    flex-direction: column;
    align-items: center;
    height: 100px;
  }
}
.headerTxt .logoCoName {
  display: flex;
  margin-top: 1.1%;
}
@media (max-width: 500px) {
  .headerTxt .logoCoName {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 18%;
    margin-bottom: -4%;
  }
}
.headerTxt .logoTop {
  height: 8rem;
  width: 8rem;
}
.headerTxt .logoTop:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
.headerTxt .logoTop:active {
  -webkit-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}
.headerTxt .companyName {
  display: flex;
  font-size: 2.5rem;
  margin-top: 5%;
  color: #008291;
  font-family: 'Bree Serif', serif;
  text-decoration: none;
}
.headerTxt .companyName:hover {
  color: #FAFCF0;
}
@media (max-width: 800px) {
  .headerTxt .companyName {
    font-size: 2.1rem;
  }
}
.topNav {
  overflow: visible;
  white-space: nowrap;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-family: 'Permanent Marker', cursive;
}
@media (max-width: 500px) {
  .topNav a {
    margin-top: -15px;
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (max-width: 500px) {
  #logIn {
    padding-left: 35%;
  }
}
.myPassFX {
  padding-right: 35px;
}
.logInFX {
  padding-right: 35px;
}
#myPass {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #008291;
}
@media (max-width: 500px) {
  #myPass {
    display: none;
  }
}
#myPass .topNavMyPass {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
#myPass:before {
  content: "";
  position: absolute;
  border-radius: 28px;
  background-color: rgba(218, 164, 134, 0.5);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-left: 3px;
}
#myPass:hover:before {
  width: 195px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
#myPass span {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: none;
  vertical-align: middle;
  margin-left: 21px;
}
#myPass svg {
  position: relative;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #008291;
  stroke-width: 3;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
@media (max-width: 500px) {
  #myPass svg {
    display: none;
  }
}
.myPassFX:active {
  transform: scale(0.86);
}
#myPass:hover {
  color: #DAA486;
}
#logIn {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #008291;
}
#logIn .topNavLogIn {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
#logIn:before {
  content: "";
  position: absolute;
  border-radius: 28px;
  background-color: rgba(218, 164, 134, 0.5);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-left: 3px;
}
#logIn:hover:before {
  width: 135px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
#logIn span {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: none;
  vertical-align: middle;
  margin-left: 21px;
}
@media (max-width: 500px) {
  #logIn span {
    margin-right: 160px;
  }
}
#logIn svg {
  position: relative;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #008291;
  stroke-width: 3;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
@media (max-width: 500px) {
  #logIn svg {
    display: none;
  }
}
.logInFX:active {
  transform: scale(0.86);
}
#logIn:hover {
  color: #DAA486;
}
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v9/4UaHrEJCrhhnVA3DgluA96rp4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Patua One'), local('PatuaOne-Regular'), url(https://fonts.gstatic.com/s/patuaone/v10/ZXuke1cDvLCKLDcimxB44_lr.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo5.ttf) format('truetype');
}
@font-face {
  font-family: 'Stoke';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Stoke Regular'), local('Stoke-Regular'), url(https://fonts.gstatic.com/s/stoke/v9/z7NadRb7aTMfKNNudCw.ttf) format('truetype');
}
.container {
  display: flex;
  flex-direction: column;
}
.landingSec {
  display: flex;
  background: linear-gradient(to left, transparent 15%, white), url(../src/img/homeHero-min.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 600px;
  padding: 2%;
  color: white;
}
@media (max-width: 500px) {
  .landingSec {
    background: linear-gradient(to bottom, transparent -35%, white), url(../src/img/homeHero-min.jpg);
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    height: 215px;
    color: white;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .landingSec .heroTitleTag {
    margin-top: -3%;
    width: 500px;
  }
}
.landingSec .landingTitle {
  color: #DAA486;
  font-size: 6.4rem;
  margin-top: -2%;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  letter-spacing: 4px;
}
@media (max-width: 500px) {
  .landingSec .landingTitle {
    font-size: 3.5rem;
    margin-top: 3%;
  }
}
.landingSec .landingTagLine {
  margin-top: -3%;
  color: #211A1A;
  width: 55%;
  font-family: 'Bree Serif', serif;
}
@media (max-width: 500px) {
  .landingSec .landingTagLine {
    font-size: 1.8rem;
    width: 100%;
  }
}
.landingTxtDetails {
  width: 55%;
  font-size: 1.8rem;
  color: #212A31;
  font-family: 'Stoke', serif;
}
@media (max-width: 500px) {
  .landingTxtDetails {
    display: none;
  }
}
.landingButtons {
  display: flex;
  margin-top: 5%;
}
.landingButtons #downloadBtn {
  padding: 0.4rem 2.16rem;
  border: 0.16rem solid #DAA486;
  margin: 0 0.32rem 0.32rem 0;
  border-radius: 0.9rem;
  text-decoration: none;
  font-size: 2.1rem;
  font-weight: 300;
  text-shadow: 0 0.064rem 0.064em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
  font-size: 2.8rem;
  width: 185px;
  height: 55px;
  font-family: 'Permanent Marker', cursive;
  background-color: #DAA486;
  color: #FFFDFC;
}
.landingButtons #downloadBtn:hover {
  text-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.35);
  color: #E8E8E8;
  border-color: #62CCC0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.landingButtons #downloadBtn:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #DAA486;
  color: #FFFDFC;
}
@media (max-width: 500px) {
  .landingButtons #downloadBtn {
    display: none;
  }
}
.landingButtons #signUpBtn {
  padding: 0.4rem 2.16rem;
  border: 0.16rem solid #DAA486;
  margin: 0 0.32rem 0.32rem 0;
  border-radius: 0.9rem;
  text-decoration: none;
  font-size: 2.1rem;
  font-weight: 300;
  color: #FFFDFC;
  text-shadow: 0 0.064rem 0.064em rgba(0, 0, 0, 0.35);
  background-color: #DAA486;
  text-align: center;
  transition: all 0.15s;
  font-size: 2.8rem;
  width: 185px;
  height: 55px;
  font-family: 'Permanent Marker', cursive;
  margin-left: 5%;
  background-color: #FFFDFC;
  color: #DAA486;
}
.landingButtons #signUpBtn:hover {
  text-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.35);
  color: #62CCC0;
  border-color: #62CCC0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.landingButtons #signUpBtn:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #FFFDFC;
  color: #DAA486;
}
@media (max-width: 500px) {
  .landingButtons #signUpBtn {
    font-size: 1.4rem;
    width: 150px;
    height: 35px;
    font-family: 'Permanent Marker', cursive;
    margin-left: 0px;
    margin-bottom: 6%;
    border-radius: 0.15em;
  }
}
@media (max-width: 500px) {
  .landingButtons {
    margin-top: 6%;
    width: 100%;
    justify-content: center;
  }
}
/** END OF HEADER **/
/** START OF TOP SEC THREE IMG THREE TXT **/
.topSection {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .topSection .topSecHeader {
    font-size: 1.8rem;
  }
}
.topSection .topImgsCaptions {
  display: flex;
  justify-content: space-around;
}
.topSection .topImgsCaptions .imgTxt1 .topImg1 {
  width: 70%;
}
.topSection .topImgsCaptions .imgTxt1 .topTxt1 {
  width: 70%;
  background-color: #62CCC0;
  color: #212A31;
  padding: 15px 0;
  text-align: center;
  margin-top: -2px;
  border-radius: 4px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem;
}
.topSection .topImgsCaptions .imgTxt1 .topTxt1:hover {
  -webkit-animation: swing 1s ease;
  animation: wiggle 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #DAA486;
  color: #008291;
}
@media (max-width: 500px) {
  .topSection .topImgsCaptions .imgTxt1 .topTxt1 {
    font-size: 1.6rem;
  }
}
.topSection .topImgsCaptions .imgTxt2 .topImg2 {
  width: 70%;
}
.topSection .topImgsCaptions .imgTxt2 .topTxt2 {
  width: 70%;
  background-color: #62CCC0;
  color: #212A31;
  padding: 15px 0;
  text-align: center;
  margin-top: -2px;
  border-radius: 4px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem;
}
.topSection .topImgsCaptions .imgTxt2 .topTxt2:hover {
  -webkit-animation: swing 1s ease;
  animation: wiggle 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #DAA486;
  color: #008291;
}
@media (max-width: 500px) {
  .topSection .topImgsCaptions .imgTxt2 .topTxt2 {
    font-size: 1.6rem;
  }
}
.topSection .topImgsCaptions .imgTxt3 .topImg3 {
  width: 100%;
}
.topSection .topImgsCaptions .imgTxt3 .topTxt3 {
  background-color: #62CCC0;
  color: #212A31;
  padding: 15px 0;
  text-align: center;
  margin-top: -2px;
  border-radius: 4px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem;
}
.topSection .topImgsCaptions .imgTxt3 .topTxt3:hover {
  -webkit-animation: swing 1s ease;
  animation: wiggle 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #DAA486;
  color: #008291;
}
@media (max-width: 500px) {
  .topSection .topImgsCaptions .imgTxt3 .topTxt3 {
    font-size: 1.6rem;
  }
}
.midSecImgTxt {
  margin-left: 2%;
  margin-right: 2%;
  background: linear-gradient(to right, transparent 5%, white), url(../src/img/midImg-min.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}
@media (max-width: 500px) {
  .midSecImgTxt {
    height: 150px;
  }
}
p {
  font-size: 35px;
  font-family: 'Bree Serif', serif;
}
@media (max-width: 500px) {
  p {
    font-size: 1.6rem;
  }
}
.midSecTxt {
  float: right;
  margin-top: 8%;
  margin-right: 3%;
  color: #211A1A;
}
@media (max-width: 500px) {
  .midSecTxt {
    float: none;
    margin-top: 14%;
    margin-left: 5%;
  }
}
.bttmSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}
.bttmSec .bttmImgRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-right: 4.5%;
  margin-bottom: 3%;
}
.bttmSec .bttmImgRow .bttmImg {
  height: 15%;
  width: 25%;
}
@media (max-width: 500px) {
  .bttmSec {
    align-items: center;
  }
}
.bttmSec h4 {
  font-size: 2.8rem;
  font-family: 'Bree Serif', serif;
}
@media (max-width: 500px) {
  .bttmSec h4 {
    font-size: 1.8rem;
  }
}
.bttmSec .bttnCtr {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  width: 100%;
}
.bttmSec .bttnCtr button {
  border: none;
}
.bttmSec .bttnCtr .joinBttn {
  padding: 0.4rem 2.16rem;
  border: 0.16rem solid #DAA486;
  margin: 0 0.32rem 0.32rem 0;
  border-radius: 0.9rem;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.1rem;
  font-weight: 300;
  color: #FFFDFC;
  text-shadow: 0 0.064rem 0.064em rgba(0, 0, 0, 0.35);
  background-color: #DAA486;
  text-align: center;
  transition: all 0.15s;
  align-self: center;
}
.bttmSec .bttnCtr .joinBttn:hover {
  text-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.35);
  color: #E8E8E8;
  border-color: #62CCC0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.bttmSec .bttnCtr .joinBttn:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #DAA486;
  color: #FFFDFC;
}
@media (max-width: 500px) {
  .bttmSec .bttnCtr .joinBttn {
    font-size: 1.4rem;
    width: 150px;
    height: 35px;
    font-family: 'Permanent Marker', cursive;
  }
}
.heroSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, transparent 15%, white), linear-gradient(to top, transparent 15%, white), url(../img/aboutHero2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  justify-content: center;
  height: 600px;
  padding: 20%;
  color: #62CCC0;
}
@media (max-width: 500px) {
  .heroSec {
    background: linear-gradient(to bottom, transparent -35%, white), url(../img/homeLanding2.jpg);
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    height: 215px;
    color: white;
    justify-content: center;
    text-align: center;
  }
}
.heroSec .title {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  color: #211A1A;
}
.heroSec .secondSec,
.heroSec .thirdSec {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .heroSec .heroTitleTag {
    margin-top: -3%;
    width: 500px;
  }
}
.heroSec .landingTitle {
  color: #DAA486;
  font-size: 6.4rem;
  margin-top: -2%;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  letter-spacing: 4px;
}
@media (max-width: 500px) {
  .heroSec .landingTitle {
    font-size: 3.5rem;
    margin-top: 3%;
  }
}
.heroSec .landingTagLine {
  margin-top: -3%;
  color: #211A1A;
  width: 55%;
  font-family: 'Bree Serif', serif;
}
@media (max-width: 500px) {
  .heroSec .landingTagLine {
    font-size: 1.8rem;
    width: 100%;
  }
}
footer {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  text-align: center;
}
footer .bttmNav {
  width: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #DAA486;
}
footer .bttmNav a {
  padding-left: 7%;
  padding-right: 7%;
  height: 65px;
  height: 45px;
  text-decoration: none;
  color: #008291;
  font-family: 'Permanent Marker', cursive;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 800px) {
  footer .bttmNav a {
    padding-right: 2%;
    padding-left: 2%;
  }
}
footer .copyright {
  font-size: 1.2rem;
  margin-top: -1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-family: 'Permanent Marker', cursive;
  background-color: #DAA486;
}
#home,
#about,
#contact,
#log-in {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #008291;
}
#home .bttmNavHome,
#about .bttmNavHome,
#contact .bttmNavHome,
#log-in .bttmNavHome {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
#home:before,
#about:before,
#contact:before,
#log-in:before {
  content: "";
  position: absolute;
  border-radius: 28px;
  background-color: rgba(218, 164, 134, 0.5);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-left: 3px;
}
#home:hover:before,
#about:hover:before,
#contact:hover:before,
#log-in:hover:before {
  width: 110px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
#home span,
#about span,
#contact span,
#log-in span {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: none;
  vertical-align: middle;
  margin-left: 21px;
}
#home svg,
#about svg,
#contact svg,
#log-in svg {
  position: relative;
  margin-left: 10px;
  fill: #DAA486;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #DAA486;
  stroke-width: 3;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.bttmHomeFx:active {
  transform: scale(0.86);
}
#home:hover,
#about:hover,
#contact:hover,
#log-in:hover {
  color: #DAA486;
  position: relative;
  margin-left: 10px;
  fill: #DAA486;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #DAA486;
  stroke-width: 3;
}
.bttnSpecs {
  font-size: 2.8rem;
  width: 185px;
  height: 55px;
  font-family: 'Permanent Marker', cursive;
}
.bttnSpecsPhone {
  font-size: 1.4rem;
  width: 150px;
  height: 35px;
  font-family: 'Permanent Marker', cursive;
}
.fancyBttn {
  padding: 0.4rem 2.16rem;
  border: 0.16rem solid #DAA486;
  margin: 0 0.32rem 0.32rem 0;
  border-radius: 0.9rem;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.1rem;
  font-weight: 300;
  color: #FFFDFC;
  text-shadow: 0 0.064rem 0.064em rgba(0, 0, 0, 0.35);
  background-color: #DAA486;
  text-align: center;
  transition: all 0.15s;
}
.fancyBttnHover {
  text-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.35);
  color: #E8E8E8;
  border-color: #62CCC0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.fancyBttnActive {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #DAA486;
  color: #FFFDFC;
}
.signUpBttn {
  padding: 0.4rem 2.16rem;
  border: 0.16rem solid #DAA486;
  margin: 0 0.32rem 0.32rem 0;
  border-radius: 0.9rem;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.1rem;
  font-weight: 300;
  color: #DAA486;
  text-shadow: 0 0.064rem 0.064em rgba(0, 0, 0, 0.35);
  background-color: #FFFDFC;
  text-align: center;
  transition: all 0.15s;
}
.signUpBttnHover {
  text-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.35);
  color: #62CCC0;
  border-color: #62CCC0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.signUpBttnActive {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: #FFFDFC;
  color: #DAA486;
}
.bttnTemplate(bg txt border) {
  background-color: bg;
  color: txt;
  border: 0.16rem solid border;
  padding: 0.4rem 2.16rem;
  margin: 0 0.32rem 0.32rem 0;
  border-radius: 0.9rem;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.1rem;
  font-weight: 300;
  color: #008291;
  text-shadow: 0 0.064rem 0.064em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
}
.headerAnchorId {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #008291;
}
.headerAnchorClass {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.headerAnchorCircle {
  content: "";
  position: absolute;
  border-radius: 28px;
  background-color: rgba(218, 164, 134, 0.5);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-left: 3px;
}
.headerAnchorCirExt {
  width: 195px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
.headerAnchorCirExtLogin {
  width: 135px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
.headerAnchorSpan {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: none;
  vertical-align: middle;
  margin-left: 21px;
}
.headerAnchorArrow {
  position: relative;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #008291;
  stroke-width: 3;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.headerAnchorScale {
  transform: scale(0.86);
}
.headerAnchorCirExtHome {
  width: 110px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
.headerAnchorCirExtAbout {
  width: 120px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
.headerAnchorCirExtContact {
  width: 145px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
.headerAnchorCirExtLogIn {
  width: 120px;
  border-radius: 8px;
  background-color: rgba(0, 130, 145, 0.5);
  border: 1px solid #008291;
}
.footerAnchorArrow {
  position: relative;
  margin-left: 10px;
  fill: #DAA486;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #DAA486;
  stroke-width: 3;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.arrowHover {
  position: relative;
  margin-left: 10px;
  fill: #DAA486;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #DAA486;
  stroke-width: 3;
}
.wiggleImg {
  -webkit-animation: swing 1s ease;
  animation: wiggle 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes wiggle {
  20% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  60% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes wiggle {
  20% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  60% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
