footer {
    .headFootBorder();
 
  background-color: @burgundy-main1;
    .centerPage();
    margin-top: 3%;
text-align: center;
.bttmNav {
  
width: 100%;
padding-bottom: 1%;
padding-top: 1%;

display: flex;
    justify-content: space-evenly;
align-items: center;
    background-color:@teal-light;
 
    a {
     .bttmNavPad();
     height: 45px;
        text-decoration: none;
        color: @tangerine-main1;
        font-family: @messy-font;
        overflow:hidden;
        white-space: nowrap;
        @media @tablet {
            padding-right: 2%;
            padding-left: 2%;
        }
    }//end of bttm anchor

}//end of bttm nav


.copyright {
    font-size: 1.2rem;
    margin-top: -1%;
    padding-top: .5%;
    padding-bottom: .5%;
    font-family: @messy-font;
   background-color: @burgundy-main1;


}//end of copyright
}//end of footer