@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Patua+One|Permanent+Marker|Solway|Stoke&display=swap');

.container{
    display: flex;
    flex-direction: column;    
}//End container

.landingSec {
    display: flex;
    background: linear-gradient(to left, transparent 15%, white), url(../src/img/homeHero-min.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    height:600px;
    padding: 2%;
    color: white;

    @media @phone {
        background: linear-gradient(to bottom, transparent -35%, white), url(../src/img/homeHero-min.jpg);
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        max-width: 100%;
        height:215px;
        color: white;
        justify-content: center;
        text-align: center;
    }//End landingSec phone
    .heroTitleTag {
        @media @phone {
       margin-top: -3%;
width: 500px;
        }//end hero title tag-line container phone
    }//end hero title tag-line container

    .landingTitle {
        color: @burgundy-main1;
        font-size: 6.4rem;
        margin-top: -2%;
        font-family: @messy-font;
        font-weight: bold;
        letter-spacing: 4px;
        @media @phone {
            font-size: 3.5rem;
            margin-top: 3%;
        }//end phone landing title
    }//end landing title

    .landingTagLine {
        margin-top: -3%;
        color: @ebony-black;
        width: 55%;
        font-family: @header1-font;
        @media @phone {
            font-size: 1.8rem;
            width: 100%;
}//end phone tag-line
     }//end tag-line
    }//end landingSec
    
.landingTxtDetails {
    width: 55%;
    font-size: 1.8rem;
    color: @blackFont;
    font-family: @header2-font;
    @media @phone {
display: none;    
}//end phone landing detail text
}//end landing detail text
.landingButtons {
    display: flex;
    margin-top: 5%;
    #downloadBtn {
        .fancyBttn();
        .bttnSpecs();
    background-color: @burgundy-main1;
    color: @cream-white;
    &:hover{
        .fancyBttnHover();
    }//end download bttn hover
    &:active{
        .fancyBttnActive();
    }//end of download active
@media @phone {
    display: none;
}//end phone download bttn
    }//end download bttn

    #signUpBtn {
 .fancyBttn();
 .bttnSpecs();
        margin-left: 5%;
     background-color: @cream-white;
    color: @burgundy-main1;
    &:hover{
        .signUpBttnHover();
    }//end sign up hover
    &:active{
        .signUpBttnActive();
    }//end signup active
 @media @phone {
    .bttnSpecsPhone();
    margin-left: 0px;
    margin-bottom: 6%;
    border-radius: 0.15em;
 }// end phone sign up btn
    }//end of sign up buttons
@media @phone {
    margin-top: 6%;
    width: 100%;
  justify-content: center;
}//end phone hero bttns 
}//end hero bttns
/** END OF HEADER **/

/** START OF TOP SEC THREE IMG THREE TXT **/
.topSection {

    .centerPage();
    margin-bottom: 5px;
.topSecHeader{
    @media @phone {
        font-size: 1.8rem;
    }//end phone top sec header
}//end phone top sec

//IMG AND TXT
.topImgsCaptions {
    display: flex;
    justify-content: space-around;
//IMG 1
.imgTxt1{
.topImg1{
    .topImgSpecs1();
}//end top img1
//START OF TOP IMG TXT
.topTxt1{
    width: @topImgWidth1;
    .topTxtSpecs();
    &:hover{
        .topTxtAnim();
    }//end top text hover
    @media @phone {
        font-size: 1.6rem;
    }//end phone top txt 1 / 2
}//end top txt 1 / 2
}//end of img txt 1

//IMG 2
.imgTxt2{
    .topImg2{
        .topImgSpecs1();
    }//end of top img 2
.topTxt2{
    width: @topImgWidth1;
    .topTxtSpecs();
    &:hover{
        .topTxtAnim();
    }//end top text hover
    @media @phone {
        font-size: 1.6rem;
    }//end phone top txt 1 / 2
}//end top txt 1 / 2
}//end of img caption 2

.imgTxt3{
    .topImg3{
        .topImgSpec3();
    }//end of top img 3 
.topTxt3{
    .topTxtSpecs();
    &:hover{ 
     
        .topTxtAnim();
    }//end of top img3 hover
    @media @phone {
        font-size: 1.6rem;
    }//end phone top txt3
}//end top txt3
}
}//end phone txt3
}//end of img caption 3




//START OF MID SEC
.midSecImgTxt{
    .centerPage();
   background: linear-gradient(to right, transparent 5%, white), url(../src/img/midImg-min.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 370px;

    @media @phone {
        height: 150px;
    }
}
p{
    font-size: 35px;
  font-family: @header1-font;

  @media @phone {
font-size: 1.6rem;
  }
}//end of mid section p
.midSecTxt{
    float: right;
    margin-top: 8%;
    margin-right: 3%;
    color: @ebony-black;

    @media @phone {
        float: none;
        margin-top: 14%;
        margin-left: 5%;
    }
}//end of mid section text

.bttmSec {
    width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
.centerPage();
.bttmImgRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
margin-right: 4.5%;
margin-bottom: 3%;
.bttmImg {
    height: 15%;
    width: 25%;
}
}
@media @phone {
    align-items: center;
}

h4 {
    font-size: 2.8rem;
    font-family: @header1-font;

    @media @phone {
        font-size: 1.8rem;
    }//end of bttm h4 phone
}//end of bttm h4

.bttnCtr {
    display: flex;
    justify-content: center;
    margin-right: 5%;
width: 100%;
button{
    border: none;
    
}
.joinBttn {
.fancyBttn();
    align-self: center;
&:hover {
    .fancyBttnHover();
}//end of join button hover
&:active {
    .fancyBttnActive();
}
    @media @phone {
        .bttnSpecsPhone();
    }//end of join bttn phone
}//end of join bttn 
}
}//end of bttm sec




