.centerPage {
    margin-left: @marginCenter;
    margin-right: @marginCenter;
}

.border{
    border: 1px solid red;
}

.topImgSpecs1 {
 width: @topImgWidth1;

}

.topImgSpec3 {
    width: @topImgWidth3;
}
 
.topTxtSpecs{
    background-color: @tangerine-main1;
    color: @charcoal-black;
    padding: 15px 0;
    text-align: center;
    margin-top: -2px;
    border-radius: 4px;
    font-family: @messy-font;
    font-size: 2.2rem;
    
}
//HOVER TOP TXT
.topTxtAnim{
    .wiggleImg();
    background-color: @burgundy-main1;
    color: @tangerine-main1;
}

.bttmNavPad {
    padding-left: @navPaddingRL;
    padding-right: @navPaddingRL;
    height: 65px;
}

.bttmNavPadPhone {
    padding-left: @navPaddingPhoneRL;
    padding-right: @navPaddingPhoneRL;
   
}
