
//Font Family
@header1-font:'Bree Serif', serif;
@header2-font: 'Stoke', serif;
@messy-font:'Permanent Marker', cursive;

//Alt Fonts 
/* font-family: 'Bree Serif', serif;
font-family: 'Patua One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Solway', serif;
*/


//Color Vars
//Group 1 Colors
@burgundy-dark: #7F0000;
@burgundy-main1:#970C10;
@scarlet-accent1: #B32800;
@tangerine-main1: #F79905;
@gold-accent1: #FBDD00;

@ebony-black:#211A1A;
@charcoal-black:#212A31;
@cream-white:#FFFDFC;
@off-white:#E8E8E8;

@blackFont:@charcoal-black;


//MARGIN CENTERING
@marginCenter: 2%;

//Top Nav Spacing
@topNavSpacing: 20%;

//Top Nav Links Spacing
@topNavLinkSpacing: 15%;

//Img Radius
@imgRadius: 3%;

//Top Img Caption 1 and 2 width
@topImgWidth1: 70%;
//Top Img Caption 3 width
@topImgWidth3: 100%;

//Top Txt 3 padding adj
@topTxtThrPadAdj:-15px;

//bottom nav padding spreading out
@navPaddingRL: 7%;
@navPaddingPhoneRL: 4%;

//Responsive Specs
@phone:~'(max-width: 500px)';
@tablet:~'(max-width: 800px)';

